* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upperdiv {
  width: 100%;
  background: linear-gradient(120deg,  #e4c4e7, #996e1f);
  background-size: contain;

}


.navbar {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: gray;
  text-align: center;
  font-size: 20px;
  padding: 12px;
  padding-right: 35px;
  text-transform: capitalize;
}

.navbar1 {
  background: linear-gradient(120deg, #bc7dd1, #4a0554);
  width: 100%;
  height: 50px;
  background-color: gray;
  text-align: center;
  font-size: 20px;
  padding: 12px;
  padding-right: 35px;
  text-transform: capitalize;
}



.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(59, 59, 129);
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px gray;
  background-image: url('photo-1553095066-5014bc7b7f2d.jpg');
  background-size: 600px 500px;
}

label {
  color: aliceblue;
  padding: 10px;
}

input {
  text-align: center;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  margin-top: 20px;
}

.mainbutton {
  background-color: beige;
  margin-top: 20px;
  margin-left: 120px;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

a {
  margin-top: 35px;
  margin-left: 110px;
  font-size: 20px;
  justify-content: center;
  padding: 10px;
}

.p1 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  padding-left: 40px;
  display: flex;
  color: aliceblue;
}

p {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  padding-left: 40px;
  display: flex;
  color: aliceblue;
}

span {
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 600px) {
  .main_div {
    width: 100%;
    height: 390px;
    margin-left: 50px;
    margin-top: 230px;
  }

  .navbar {
    width: auto;
  }
  .navbar1{
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main_div {
    width: 25%;
    height: 390px;
    margin-left: 570px;
    margin-top: 120px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main_div {
    width: 25%;
    height: 390px;
    margin-left: 700;
    margin-top: 150px;
  }
}

/* @keyframes color-change {
  0% {
    color: black;
  }

  25% {
    color: aliceblue;
  }

  50% {
    color: purple;
  }

  75% {
    color: aquamarine;
  }

  100% {
    color: goldenrod;
  }
} */

/* ol{
  padding: 5px;
}
li{
  list-style: none;
  padding: 10px;
}

.apnidiv{
  justify-items: auto;
  margin: 0;
  padding: 0;
} */
/* Extra small devices (phones, 600px and down) */


/* @keyframes wave{
  to{
    background-image: linear-gradient(-90deg,#cebfd3, #524853,whitesmoke, #1d0a1f);

}
from{
    background-image: linear-gradient(90deg,#cebfd3, #524853,whitesmoke, #1d0a1f);

} */